---
import { Container } from '@/components/container';

import { count as soundCount } from '@/lib/sounds';

const count = soundCount();

const paragraphs = [
  {
    body: '想从日常繁忙中抽身而出，享受片刻宁静？您是否需要完美的音景来提升注意力或让您安然入睡？Moodist 是您最好的选择，它是您的免费开源环境声音生成器！无需订阅和注册 - 使用 Moodist，您可以免费解锁一个舒缓而身临其境的音频体验世界',
    title: '免费环境音效',
  },
  {
    body: `沉浸在由 ${count} 种精心挑选的声音组成的庞大音库中。大自然爱好者会在溪流的潺潺流水声、海浪的节奏声或篝火的噼啪声中找到慰藉。咖啡馆的轻柔嗡嗡声、火车的节奏声或交通的平静白噪声让城市风景变得生动活泼。对于那些寻求更深层次的专注或放松的人来说，Moodist 提供旨在增强您的精神状态的双耳节拍和彩色噪音。`,
    title: '精心挑选的声音',
  },
  {
    body: 'Moodist 的美妙之处在于它的简洁性和可定制性。没有复杂的菜单或令人困惑的选项 - 只需选择您想要的声音，调整音量平衡，然后点击播放。想将鸟儿的轻柔鸣叫与舒缓的雨声融合在一起吗？没问题！您可以叠加任意数量的声音来创建您个性化的音景绿洲。',
    title: '创建您的音景',
  },
  {
    body: 'Moodist 的生产力工具套件不仅提供环境声音，还能让您保持井然有序和专注。使用内置番茄工作法计时器进行结构化工作间隔，在记事本中记下想法，并使用待办事项列表（即将推出）跟踪任务。这些工具与环境音景无缝集成，营造出个性化环境，促进专注和放松。',
    title: '生产力工具箱',
  },
  {
    body: '无论您是想在忙碌的一天后放松身心，还是在工作时集中注意力，或是让自己进入宁静的睡眠，Moodist 都能为您提供完美的音景。最棒的是？它完全免费且开源，因此您可以无条件享受它的好处。立即开始使用 Moodist，发现您宁静而专注的新天堂！',
    title: '每一刻的声音',
  },
];
---

<section class="about">
  <div class="effect"></div>

  <Container tight>
    {
      paragraphs.map((paragraph, index) => (
        <div class="paragraph">
          <div class="counter">
            <span>0{index + 1}</span> / 0{paragraphs.length}
          </div>

          <h2 class="title">{paragraph.title}</h2>
          <p class="body">{paragraph.body}</p>
        </div>
      ))
    }

    <button class="button" id="use-moodist"> Use Moodist</button>
  </Container>
</section>

<script lang="ts">
  const button = document.getElementById('use-moodist');

  button.addEventListener('click', () => {
    const app = document.getElementById('app');

    app?.scrollIntoView();
  });
</script>

<style>
  .about {
    padding-top: 10px;

    & .effect {
      position: sticky;
      top: 0;
      height: 80px;
      background: linear-gradient(var(--color-neutral-50), transparent);
    }

    & .paragraph {
      padding: 30px 0;
      background: linear-gradient(
        transparent,
        var(--color-neutral-50) 10%,
        var(--color-neutral-50) 90%,
        transparent
      );

      &:last-of-type {
        padding-bottom: 0;
      }

      & .counter {
        width: max-content;
        padding: 6px 16px;
        margin-bottom: 16px;
        font-size: var(--font-xsm);
        color: var(--color-foreground-subtle);
        background: linear-gradient(var(--color-neutral-100), transparent);
        border: 1px solid var(--color-neutral-300);
        border-radius: 20px 20px 20px 8px;

        & span {
          font-weight: 500;
          color: var(--color-foreground);
        }
      }

      & .title {
        margin-bottom: 8px;
        font-family: var(--font-heading);
        font-size: var(--font-md);
        font-weight: 600;
      }

      & .body {
        line-height: 1.6;
        color: var(--color-foreground-subtle);
      }
    }

    .button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 16px;
      margin-top: 20px;
      font-size: var(--font-xsm);
      font-weight: 500;
      color: var(--color-foreground);
      cursor: pointer;
      background-color: transparent;
      border: 1px solid var(--color-neutral-200);
      border-radius: 50px;
      outline: none;
      transition: 0.2s;

      &::before {
        position: absolute;
        top: -1px;
        left: 50%;
        width: 70%;
        height: 1px;
        content: '';
        background: linear-gradient(
          90deg,
          transparent,
          var(--color-neutral-300),
          transparent
        );
        transform: translateX(-50%);
      }

      &:hover,
      &:focus-visible {
        background-color: var(--color-neutral-100);
      }

      &:focus-visible {
        outline: 2px solid var(--color-neutral-400);
        outline-offset: 2px;
      }
    }
  }
</style>
